.syp-modal {
  .ant-modal-body {
    font-size: 16px !important;
  }

  .form-item .form-label {
    vertical-align: top;
  }

  .long-label {
    .form-item .form-label {
      width: 184px;
    }
  }

  .no-wrap {
    white-space: nowrap;
  }
}