
.fuzhen-form {
  .fz-save-btn {
    margin-right: 12px;
  }
  .examination-btn {
    .form-label {
      opacity: 0;
    }
  }
  .add-form {
    margin-left: 92px;
  }
  .long-label .form-label {
    width: 123px;
  }
}
.save-btn {
  right: 158px !important;
}

textarea.ant-input {
  font-size: 18px;
}
.high-modal {
  .high-info {
    font-size: 18px;
  }
  .high-msg {
    & > span {
      font-size: 14px;
      margin-right: 18px;
      i {
        color: red;
        font-style: normal;
      }
    }
  }
}

.lis-modal {
  top: 50px;
  .isRed a {
    color: red !important;
  }
  .noRed a {
    color: #000 !important;
  }
  .ant-modal-body {
    max-height: 620px;
    overflow-y: scroll;
  }
}