.bmi-wrapper {
  width: 50%;
  background-color: #EAEAFD;
  position: relative;
  min-width: 800px;
  .btn-tz {
    position: absolute;
    width: 180px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 4px 28px;
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6F6FE9;
  }
}