.form-row {
  margin: 10px 0;
}

.form-row, .form-column {
  position: relative;
  .row-label, .column-label {  
    display: inline-block;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 600;
    color: #57A8E5;
    background-color: #fff;
    border: 1px solid #D7DCE7;
    border-radius: 4px;
  }
}

.form-item {
  color: #150F55;
  .form-label {
    position: relative;
    display: inline-block;
    width: 120px;
    padding-right: 10px;
    font-weight: 600;
    .colon {
      position: absolute;
      right: 4px;
      bottom: 2px;
    }
  }
  .form-content {
    position: relative;
    display: inline-block;

    & > * {
      display: inline-block;
    }

    .form-unit {
      font-size: 0.7em;
      padding-left: 4px;
    }

    .form-message {
      // 因为不需要显示error message，所以隐藏
      display: none;
      position: absolute;
      left:0;
      top: 20px;
      font-size: 0.5em;
      font-weight: bold;
    }
  }

}

.is-not-empty {
  select,
  input,
  .ant-select-selection {
    font-size: 16px;
    border-radius: 0;
    border: none ;
    border-bottom: 1px solid #cccccc;
    background: none ;
  }
  .inputxxx{
    border: none ;
  }
  .ant-checkbox-wrapper {
    // color: #d3d3d3;
  }
  .checkinput {
    border: 1px solid transparent;
  }
}

.form-error {
  input,
  .checkinput,
  .ant-select-selection {
    // color: #FC425F;
    // height: 100%;
    border: 1px solid #ff0000;

    & > div {
      height: 100%;

      .ant-select-selection {
        border: none;
        height: initial;
      }
    }
  }
}
.form-warn {
  input {
    font-weight: 600;
    color: #ff0000 !important;
    // border-color: #FC425F;
  }
}

/* 二级多行目录，指定父级样式名称：parentLabel  */
.parentLabel {
  position: relative;
  background: #f8fbfe;
}
.form-row.parentLabel > div:first-child ,
.form-column.parentLabel > div:first-child > div:first-child {
  position: absolute;
  top: -2px;
  left: 3px;
  font-size: 0.7em;
  color: #5d79af;
  text-align: left;
}
// 隐藏“：”的样式
.form-column.parentLabel > div:first-child > div:first-child >span >span:first-child +span {
  color: transparent;
}
// 子级字体放不下，缩小子级
.parentLabel .childLabel > div > div:first-child {
  font-size: 75%;
}
// 子级字体放不下，继续处理，把父级宽度写死
.Two_characters.form-row.parentLabel > div:first-child ,
.Two_characters.form-column.parentLabel > div:first-child > div:first-child {
  width: 2.6em;
}
/* -- end --- 二级多行目录，指定父级样式名称：parentLabel  */


.inputxxx {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  >*{
    display: inline-block;
    select, input, .ant-select-selection {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #cccccc;
      background: none;
      padding: 0;
      margin: 2px;
      height: 22px;
    }
  }
}

.checkinput {
  padding: 0 4px;
  border-radius: 3px;

  > * {
    white-space: nowrap
  }
  .ant-checkbox-wrapper {
    margin-right: 12px;
    padding-top: 2px;
    font-size: initial;

    .ant-checkbox {
      line-height: initial;

      & + span {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }
}

.editable-wrapper {
  .editable-ol {
    z-index: 999;
    border: 1px #ccc solid;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
  }
  .editable-li {
    padding: 5px;
    font-size: 14px;
    &:hover {
      background-color: #e8f4ff;
    }
  }
  .active {
    background-color: #f7f7f7;
  }
}

