.common-modal {
  .ant-modal-header, .ant-modal-body, .ant-modal-footer {
    background: #fffbe6;
  }
  .ant-select.ant-select-enabled {
    margin: 0 10px 0 5px;
  }
  .ant-calendar-picker {
    vertical-align: middle;
  }
}
