
.table-render {
  .ant-table {
    font-size: 1rem;
  }
  td{
    padding: 0 5px;
  }
  .table-item{
    display: inline-block;
    width: 100%;
    min-height: 26px;
    &.table-error{
      border:1px solid #ff3300;
      color: #ff3300;
    }
  }
  .row-selected{
    background: #f3f3f3;
  }
}
