
.table-render {
  .ant-table {
    font-size: 1rem;
  }
  .ant-table-content {
    border: none;
  }
  td{
    padding: 0 5px;
  }
  .table-head{
    background: #f7f7f7;
    
    td{
      border-color: #c9d1d7;
      padding: 4px 0 !important;
      border-right: 1px solid #e9e9e9 !important;
    }
  }

  .table-content{
    &.row-selected{
        background-color: #ebf2fb !important;
    }
    .table-item{
      display: inline-block;
      width: 100%;
      min-height: 26px;
      &.table-error{
        border:1px solid #FC425F;
        color: #FC425F;
      }
    }
  }
}
.table-btns {
  margin-bottom: 25px;
  .btn-add {
    color: #fff;
    font-weight: 600;
    background-color: #007AFF;
    margin-right: 16px;
  }
  .btn-delete {
    color: #007AFF;
    font-weight: 600;
    border: 1px solid #007AFF;
    background-color: #fff;
  }
}
