@import './antd/antd-1.x.min.css';
/* @page :pseudo-class {
  size: A5 landscape;
  width: 21cm;
} */
@media print {
  .print-highrisk {
    font-size: 14px;
    text-align: right;
    padding: 0;
    margin: 0;
  }
  .has-print .print-highrisk {
    visibility: hidden;
  }

  .print-table {
    table-layout: fixed;
    text-align: center;
    border: 1px solid #ccc;
    border-collapse: collapse;
  }
  .print-table tr td {
    border: 1px solid #ccc;
    word-break: break-all;
    font-size: 7px;
  }
  .isHide {
    display: none;
  }
  .has-print .print-table tbody tr {
    visibility: hidden;
  }

  .xt-table .ant-table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  .xt-table tr th,
  .xt-table tr td {
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #ccc;
    word-break: keep-all;
  }
}