@import "./antd/antd-1.x.min.css";

@page :pseudo-class {
  size: A4 landscape;
}
@media print {
  .has-print .ant-table-tbody tr {
    visibility: hidden;
  }
  .has-print .ant-table-tbody tr td {
    border: none;
  }
  .has-print .ant-table-tbody tr:last-of-type {
    visibility: inherit;
  }
  .has-print .ant-table-tbody tr:last-of-type td {
    border-right: 1px solid #e9e9e9;
  }
  .ant-table-tbody>tr>td {
    padding: 5px 1px;
    word-break: keep-all;
  }
  .print-table .treatment {
    width: 2800px !important;
  }
  .isHide {
    display: none;
  }
  .print-highrisk {
    font-size: 21px;
    text-align: right;
  }
  .has-print .print-highrisk {
    visibility: hidden;
  }
}