.main-body .main-header {
  position: relative;
  z-index: 1;
  height: 5.5rem;
  background: #fff;
  padding: 0.5rem 1rem;
}
.main-body .main-content{
  position: relative;
  min-height: 10px;
  // background-image: url("../assets/static-img/borderBG.png");
  background-repeat: repeat-x;
  background-size: 100% 10px;
}
.patient-Info_title div {
  display: table-cell;
  padding-right: 2rem;
}
.patient-Info_title strong {
  padding: 0 0.5rem 0 0.6rem;
}
.patient-Info_title .high-risk {
  color: red;
  font-size: 21px;
}
.patient-Info_tab button {
  margin: 0.5rem 0 0 0.5rem;
}
.patient-Info_btnList {
  position: absolute;
  bottom: 13px;
  right: 12px;
  z-index: 9;
}
.patient-Info_btnList  button {
  font-weight: bold;
  letter-spacing: 1px;
  // padding-top: 0.5rem;
  // padding-bottom: 0.5rem;
}

.highriskPop {
  .ant-modal-title {
    font-size: 18px;
  }
  div {
    font-size: 16px;
  }
  .ant-input, .ant-tree {
    font-size: 16px;
  }
  .highrisk-infec {
    width: 235px;
  }
}

.highrisk-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 580px;
  background: #fffbe6;
  padding: 10px;
  z-index: 1000;
  border: 1px solid #ffeaa5;
  border-radius: 5px;
  .highrisk-content  {
    padding: 0 20px;
  }
  .highrisk-word {
    color: #ff6600;
  }
  .highrisk-item {
    margin: 10px 0;
  }
}

.reminder-wrapper {
  z-index: 1001;
  .ant-modal-header,
  .ant-modal-body,
  .ant-modal-footer {
    background: #fffbe6;
  }
  .reminder-content  {
    padding: 0 20px;
    font-size: 18px;
  }
  .reminder-item {
    padding: 0 20px;
    font-size: 16px;
    color: #c72b45;
    margin-bottom: 10px;
  }
}

.trial-modal {
  top: 50px;
  .modal-title>.ant-tree-switcher.ant-tree-noline_open,
  .modal-title>.ant-tree-checkbox {
    display: none;
  }
  .modal-title>.ant-tree-node-content-wrapper {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    background-color: #e6f7ff;
    border-bottom: 3px solid #6699ff;
  }
  .trial-username {
    font-size: 16px;
  }
  .ant-modal-title {
    font-size: 18px;
  }
  .ant-tree li {
    font-size: 16px;
  }
}

.phar-modal {
  top: 50px;
  .ant-modal-title {
    font-size: 18px;
  }
  .title {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #e6f7ff;
    border-bottom: 3px solid #6699ff;
  }
  .phar-left li {
    white-space: pre-wrap;
    &:first-child, &:nth-child(5) {
      padding-bottom: 8px;
      border-bottom: 1px dashed #6699ff;
    }
  }
  .phar-right li {
    &:first-child, &:nth-child(2) {
      margin-bottom: 62px;
      padding-bottom: 8px;
      border-bottom: 1px dashed #6699ff;
    }
    &:nth-child(2) {
      padding-bottom: 106px;
      margin-bottom: 115px;
    }
  }
  .ant-tree li {
    font-size: 16px;
  }
}



