.main-body .main-header {
  position: relative;
  z-index: 1;
  height: 5.5rem;
  background: #fff;
  padding: 0.5rem 1rem;
}
.main-body .main-content{
  position: relative;
  min-height: 10px;
  background-image: url("../assets/static-img/borderBG.png");
  background-repeat: repeat-x;
  background-size: 100% 10px;
}
.patient-Info_title div {
  display: table-cell;
  padding-right: 2rem;
}
.patient-Info_title strong {
  padding: 0 0.5rem 0 0.6rem;
}
.patient-Info_tab button {
  margin: 0.5rem 0 0 0.5rem;
}
.patient-Info_btnList {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}
.patient-Info_btnList  button {
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.highriskPop {
  div {
    font-size: 14px;
  }
  .ant-input, .ant-tree {
    font-size: 14px;
  }
}

.highrisk-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 520px;
  background: #fffbe6;
  padding: 10px;
  z-index: 1000;
  .highrisk-content  {
    padding: 0 20px;
  }
  .highrisk-word {
    color: #ff6600;
  }
  .highrisk-item {
    margin: 10px 0;
  }
}



