.main-body {
  padding-top: 88px;
}
.main-body .main-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  height: 88px;
  background: #fff;
  padding: 8px 16px;
  overflow: hidden;
}
.main-body .main-content {
  position: relative;
  min-height: 10px;
  // background-image: url("../assets/static-img/borderBG.png");
  background-repeat: repeat-x;
  background-size: 100% 10px;
}
.patient-Info_title div {
  display: table-cell;
  color: #150f55;
  font-size: 18px;
  font-weight: 600;
  padding-right: 24px;
}
.patient-Info_title .title-small {
  font-size: 14px;
  font-weight: 400;
  color: #5a6676;
  padding-right: 12px;
}
.patient-Info_tab {
  margin-top: 25px;
  span {
    display: inline-block;
    line-height: 22px;
    margin-right: 48px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
  }
  .active-tab {
    color: #150f55;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 4px;
    border-bottom: 2px solid #3d8bf7;
  }
}
.patient-Info_btnList {
  position: absolute;
  bottom: 4px;
  right: 12px;
  z-index: 9;
  display: flex;
  .btnList-left {
    width: 100%;
  }
  .btnList-right {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }
  .danger-btn-wrapper .ant-btn-group {
    width: 100%;
  }
  .high-risk-wrapper .ant-btn-group {
    width: 100%;
  }
  .level-btn {
    width: 80px;
    height: 30px;
    border-bottom: none;
    border-bottom-left-radius: 0;
  }
  .high-risk-btn {
    font-size: 14px;
    font-weight: 400;
    padding: 4px 5px;
    width: 80px;
    height: 50px;
    border-top-left-radius: 0;
    color: #150f55;
    background-color: #fff;
  }
  .high-risk-content {
    width: calc(100% - 79px);
    max-width: 450px !important;
    height: 50px;
    color: #932c3f;
    text-align: left;
    border-top-right-radius: 0;
    background-color: #fff;
    overflow: hidden;
    span {
      width: 100%;
      font-size: 1rem;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      white-space: pre-wrap;
    }
  }
  .danger-btn-infectin {
    width: calc(100% - 79px);
    max-width: 450px !important;
    height: 30px;
    padding-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    border-bottom: none;
    border-bottom-right-radius: 0;
  }
  .has-infectin {
    color: #ffffff;
    background: linear-gradient(
      275deg,
      rgba(155, 102, 255, 1) 0%,
      rgba(98, 54, 255, 1) 100%
    );
    &:hover {
      background-color: #c205e7;
    }
  }
  .no-infectin {
    color: #150f55;
    background-color: #fff;
    &:hover {
      background-color: #fff;
    }
  }
  .danger-btn-1 {
    color: #fff;
    background-color: #49c458;
    &:hover {
      background-color: #49c458;
    }
  }
  .danger-btn-2 {
    color: #150f55;
    background-color: #ffd363;
    &:hover {
      background-color: #ffd363;
    }
  }
  .danger-btn-3 {
    color: #150f55;
    background-color: #fb9824;
    &:hover {
      background-color: #fb9824;
    }
  }
  .danger-btn-4 {
    color: #150f55;
    background-color: #ffa8a8;
    &:hover {
      background-color: #ffa8a8;
    }
  }
  .danger-btn-5 {
    color: #fff;
    background-color: #c43333;
    &:hover {
      background-color: #c43333;
    }
  }
  .danger-btn-trial {
    color: #ffffff;
    background-color: #4e1303;
    &:hover {
      background-color: #4e1303;
    }
  }
  .danger-btn-phar {
    color: #ffffff;
    background-color: #4d94ff;
    &:hover {
      background-color: #4d94ff;
    }
  }
}
.patient-Info_btnList button {
  font-weight: 600;
  letter-spacing: 1px;
  height: 40px;
}

.highrisk-pop {
  .highrisk-col .ant-row {
    margin-bottom: 15px;
  }
  .ant-modal-title {
    font-size: 18px;
  }
  .ant-input,
  div {
    font-size: 1rem;
  }
  .highrisk-infec {
    width: 235px;
  }
  .highrisk-factor {
    width: 568px;
  }
  .highrisk-options {
    height: 300px;
    overflow: auto;
  }
}

.highrisk-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 580px;
  background: #fff;
  z-index: 1000;
  border: 1px solid #d7dce7;
  box-shadow: 0px 2px 45px -8px #ccc;
  border-radius: 5px;
  .highrisk-header {
    padding: 10px;
    border-bottom: 1px solid #d7dce7;
    .close-icon {
      cursor: pointer;
    }
  }
  .highrisk-content {
    padding: 10px 20px;
    .highrisk-word {
      color: #fd617f;
      font-size: 21px;
    }
    .highrisk-item {
      margin: 10px 0 30px;
    }
    .btns-wrapper {
      text-align: center;
      .close-btn {
        font-size: 20px;
        border: none;
        color: #fff;
        background-color: #afb4be;
        margin-right: 24px;
      }
      .nerver-btn {
        font-size: 20px;
        color: #fff;
        background-color: #007aff;
      }
    }
  }
}

.trial-modal {
  top: 50px;
  .modal-title > .ant-tree-switcher.ant-tree-noline_open,
  .modal-title > .ant-tree-checkbox {
    display: none;
  }
  .modal-title > .ant-tree-node-content-wrapper {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    background-color: #e6f7ff;
    border-bottom: 3px solid #6699ff;
  }
  .trial-username {
    font-size: 1rem;
  }
}

.phar-modal {
  top: 50px;
  .title {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 1rem;
    background-color: #e6f7ff;
    border-bottom: 3px solid #6699ff;
  }
  .phar-left li {
    white-space: pre-wrap;
    &:first-child,
    &:nth-child(5) {
      padding-bottom: 8px;
      border-bottom: 1px dashed #6699ff;
    }
  }
  .phar-right li {
    &:first-child,
    &:nth-child(2) {
      margin-bottom: 62px;
      padding-bottom: 8px;
      border-bottom: 1px dashed #6699ff;
    }
    &:nth-child(2) {
      padding-bottom: 123px;
      margin-bottom: 115px;
    }
  }
}

.ant-notification {
  .ant-notification-notice-icon {
    font-size: 32px;
  }
  .ant-notification-notice-message {
    color: #3b3671;
    font-size: 16px;
  }
}
