@font-face {
  font-family: "SpecialForNum";
  src: local("Helvetica Neue"), local("Monaco"), local("Verdana"),
    local("Consolas"), local("Menlo");
  unicode-range: U+30-39;
}
body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "KaiTi", "Microsoft YaHei", SpecialForNum, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Lantinghei SC", "Hiragino Sans GB", "WenQuanYi Micro Hei",
    "Microsoft YaHei", "Microsoft Sans Serif", sans-serif;
}
html,
body {
  background-color: #d7dce7;
  color: #150f55;
  font-size: 15px;
}
.font-12 {
  font-size: 0.75rem;
}
.font-14 {
  font-size: 0.875rem;
}
.font-16 {
  font-size: 1rem;
}
.font-18 {
  font-size: 1.125rem;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.a-btn {
  padding: 3px 6px;
}
.danger-btn {
  color: #ffffff;
  background-color: #f5222d;
  &:hover {
    background-color: #ff4d4f;
  }
}
.view-btn {
  color: #ffffff;
  background-color: #f5a623;
  &:hover {
    background-color: #f7b84f;
  }
}
.edit-btn {
  color: #ffffff;
  background-color: #009688;
  &:hover {
    background-color: #87d068;
  }
}
.primary-btn {
  color: #ffffff;
  background-color: #1890ff;
  &:hover {
    background-color: #40a9ff;
  }
}
.blue-btn {
  color: #1890ff;
  background-color: #ebf2fb;
  &:hover {
    background-color: #d8e5f7;
  }
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  outline-offset: -1px;
  background-color: rgba(0, 0, 0, 0.3);
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
.margin-TB-mid {
  color: #535881;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.margin-R-3 {
  margin-right: 3em;
}
.margin-R-2 {
  margin-right: 2em;
}
.margin-R-1 {
  margin-right: 1em;
}
.pad-LR-mid {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pad-T-mid {
  padding-top: 1rem;
}
.pad-small {
  color: #383f4a;
  padding: 5px;
}
.pad-mid {
  padding: 3px 26px;
}
.pad-L-0 {
  padding-left: 0;
}
.main-pad-small {
  padding: 1rem 5px 5px;
}
.bottom-btn {
  position: absolute;
  right: 1px;
  bottom: 1px;
  min-width: 6em;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.dis-table {
  display: table-cell;
}
.colorDarkPurple {
  color: #561b7e;
}
.colorDarkRed {
  color: #9d2932;
}
.colorRed {
  color: #fc425f;
}
.colorLightRed {
  color: #ed5736;
}
.colorYellow {
  color: #dbb512;
}
.colorGray {
  color: #8d9bba;
}
.colorWhite {
  color: #fff;
}
.bgWhite {
  background: #fff;
}
.bgLightBlue {
  background: #f4f9ff;
}
.width_8 {
  .form-item .form-label,
  .row-label {
    width: 8.1em;
  }
}
.width_7 {
  .form-item .form-label,
  .row-label {
    width: 7.4em !important;
  }
}
.width_6 {
  .form-item .form-label {
    width: 6.1em;
  }
}
.input_width_4 {
  .form-content > div:first-child {
    width: 4.1em !important;
  }
}
.moreColumns {
  margin-bottom: 0 !important;
}
.noContent {
  .form-label {
    font-size: 0.8rem;
    color: #1890ff;
    width: 8.8em !important;
  }
  .form-content {
    display: none !important;
  }
}
/* bug */
.blue_table {
  .ant-table-body > table {
    padding: 0;
  }
  .ant-table-tbody > tr:first-child > td,
  .ant-table-thead > tr > th {
    background: #f1f9fe !important;
  }
}

.modal-withoutBTN {
  .ant-confirm-btns {
    display: none !important;
  }
}

.ant-table-tbody td {
  text-align: center;
}
.ant-modal {
  .ant-btn-lg {
    font-size: 0.9rem;
  }
}
.table-item-checkbox {
  text-align: center;
}
.ant-select-selection__rendered .ant-select-search__field {
  width: 100%;
}
.ant-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
  -webkit-text-fill-color: #333;
}
.ant-checkbox .ant-checkbox-inner {
  // 设置 checkbox 的大小
  width: 20px;
  height: 20px;
  // 设置对勾的 大小 和 位置
  &::after {
    top: 0px;
    left: 6px;
    width: 8px;
    height: 14px;
  }
}
.h_26 .ant-select-selection--single {
  height: 28px !important;

  &:hover {
    border-bottom-color: #57c5f7;
  }

  .ant-select-selection__rendered {
    height: 100%;
  }
}
/* ie8
 */
.ant-select-selection,
.ant-select-show-search {
  z-index: 1\9;
}

.ant-select-dropdown {
  padding-top: 2em\9;
  z-index: 0\9;
}
:root .ant-select-dropdown {
  padding-top: 0;
}

.pad_ie {
  padding-bottom: 4em\9;
}
:root .pad_ie {
  padding-bottom: 5px;
}

// 选择下拉菜单样式
.ant-select-dropdown-menu,
.ant-cascader-menus {
  font-size: 14px;
}

// 全局提示
.ant-message {
  font-size: 18px;
  top: 40px;
  .anticon {
    font-size: 21px;
  }
}

//对话框modal样式
.ant-modal-content {
  .ant-modal-body {
    font-size: 1rem;
  }
  .ant-modal-title {
    font-size: 18px;
    color: #150f55;
  }
  .ant-tree li {
    font-size: 1rem;
    a {
      color: #150f55;
    }
  }
}

// 系统placeholder颜色
.ant-select-search__field__placeholder,
.ant-select-selection__placeholder {
  color: #242741 !important;
}
input::-webkit-input-placeholder {
  font-weight: 600;
  color: #242741 !important;
}
.input:-ms-input-placeholder {
  font-weight: 600;
  color: #242741 !important;
}
input:-moz-placeholder,
input::-moz-placeholder {
  font-weight: 600;
  color: #242741 !important;
}

// 全局表单样式
.isRed input {
  color: #fd617f !important;
}
.ant-input {
  color: #150f55;
}
.ant-input:-webkit-autofill {
  -webkit-text-fill-color: #150f55 !important;
}
textarea.ant-input {
  font-size: 1rem;
}
.ant-select {
  color: #150f55;
}
.ant-btn {
  background-color: #fff;
}
.ant-btn-ghost {
  color: #150f55;
  &:hover {
    color: #150f55;
    border-color: #d7dce7;
  }
}
.ant-btn-primary {
  background-color: #007aff;
  border-color: #007aff;
  &:hover {
    background-color: #007aff;
    border-color: #007aff;
  }
}
.label-right .form-item .form-label {
  text-align: right;
}
.form-item .form-content .form-item .form-content input {
  color: #ff0000 !important;
  border-bottom: 2px solid #ff0000;
  text-overflow: ellipsis;
  &:-webkit-autofill {
    -webkit-text-fill-color: #ff0000 !important;
  }
}
.ant-checkbox-checked .ant-checkbox-inner,
.ant-tree-checkbox-checked .ant-tree-checkbox-inner {
  border-color: #3d8bf7;
  background-color: #3d8bf7;
}
.section-title {
  height: 20px;
  position: relative;
  margin: 0 0 20px 0;
  border-bottom: 2px solid #d7dce7;
  .form-item .form-label {
    font-size: 18px;
    text-align: center;
    background-color: #fff;
    position: relative;
    top: 4px;
    left: 50px;
    .white-space {
      display: none;
    }
  }
}

.label-3 {
  .form-item .form-label {
    width: 90px !important;
  }
}
.label-4 {
  .form-item .form-label {
    width: 100px !important;
  }
}
.label-5 {
  .form-item .form-label {
    width: 110px !important;
  }
}
.label-6 {
  .form-item .form-label {
    width: 130px !important;
  }
}

// table 样式
.ant-table {
  font-size: 15px;
  border-radius: 0;
}
.ant-table-title {
  font-weight: 600;
  color: #150f55;
}
.ant-table-content {
  border: 1px solid #d7dce7;
  border-right: none;
  border-bottom: none;
}
.ant-table-thead > tr > th {
  text-align: center;
  font-weight: 600;
  color: #150f55;
  background-color: #f5f6fa;
  border-right: 1px solid #d7dce7;
  border-bottom: 1px solid #d7dce7;
}
.ant-table-tbody {
  background-color: #fff;
}
.ant-table-tbody > tr > td {
  font-weight: 400;
  color: #150f55;
  padding: 12px 8px;
  border-right: 1px solid #d7dce7;
  border-bottom: 1px solid #d7dce7;
}

// 背景图标
.hide-icon .white-space {
  display: none;
}
.white-space {
  display: inline-block;
  width: 18px;
  height: 18px;
}
.anticon-print-blue {
  vertical-align: middle;
  position: relative;
  top: -1px;
  width: 21px;
  height: 21px;
  background: url("../assets/static-img/print_blue.png") no-repeat center;
  background-size: 100% 100%;
}
.anticon-print-white {
  vertical-align: middle;
  position: relative;
  top: -1px;
  width: 28px;
  height: 28px;
  background: url("../assets/static-img/print_white.png") no-repeat center;
  background-size: 100% 100%;
}
.anticon-require {
  vertical-align: middle;
  position: relative;
  top: -1px;
  width: 18px;
  height: 18px;
  background: url("../assets/static-img/require.png") no-repeat center;
  background-size: 100% 100%;
}
.anticon-record {
  vertical-align: middle;
  position: relative;
  top: -1px;
  width: 18px;
  height: 18px;
  background: url("../assets/static-img/record.png") no-repeat center;
  background-size: 100% 100%;
}
.anticon-list {
  vertical-align: middle;
  position: relative;
  top: -1px;
  width: 18px;
  height: 18px;
  background: url("../assets/static-img/list.png") no-repeat center;
  background-size: 100% 100%;
}
.anticon-manage {
  vertical-align: middle;
  position: relative;
  top: -1px;
  width: 18px;
  height: 18px;
  background: url("../assets/static-img/manage.png") no-repeat center;
  background-size: 100% 100%;
}
.anticon-all {
  width: 18px;
  height: 18px;
  background: url("../assets/static-img/all.png") no-repeat center;
  background-size: 100% 100%;
}
.anticon-depart {
  width: 18px;
  height: 18px;
  background: url("../assets/static-img/depart.png") no-repeat center;
  background-size: 100% 100%;
}
.anticon-cancel {
  width: 24px;
  height: 24px;
  background: url("../assets/static-img/cancel.png") no-repeat center;
  background-size: 100% 100%;
}
.anticon-female-Gender {
  width: 18px;
  height: 18px;
  background: url("../assets/static-img/female.png") no-repeat center;
  background-size: 100% 100%;
}
.anticon-male-Gender {
  width: 18px;
  height: 18px;
  background: url("../assets/static-img/male.png") no-repeat center;
  background-size: 100% 100%;
}
