
.yuModal {
    .ant-modal-header, .ant-modal-body, .ant-modal-footer {
        background: #fffbe6;
    }
    .ant-select.ant-select-enabled {
        margin: 0 10px 0 5px;
    }
    .ant-calendar-picker {
        vertical-align: middle;
    }
}

.save-btn {
    right: 158px !important;
}

textarea.ant-input {
    font-size: 18px;
}

.form-item .form-label {
    vertical-align: top;
}


// .canvasContent .ant-modal-body {
//     position: relative;
//     border: 1px solid #f1f1f1;
//     margin-left:10px;
//     top: 0;
//     left: 0;
// }

// .z1, .z2, .z3 {
//     position: absolute;
// }

// .z2 {
//     z-index: 2;
//     top: 1px;
//     left: 0;
// }

// .z3 {
//     z-index: 3;
//     top: 1px;
//     left: 0;
// }


