.yuModal {
  .ant-modal-header,
  .ant-modal-body,
  .ant-modal-footer {
    background: #fffbe6;
  }
  .ant-select.ant-select-enabled {
    margin: 0 10px 0 5px;
  }
  .ant-calendar-picker {
    vertical-align: middle;
  }
}

.save-btn {
  right: 158px !important;
}

textarea.ant-input {
  font-size: 18px;
}

.reg-form {
  .ant-modal-body {
    font-size: 16px !important;
  }
  .reg-source {
    .ant-col-6 {
      width: 16%;
    }
  }
  .reg-btns {
    position: absolute;
    top: 115px;
		right: 0;
		z-index: 100;
  }
	.form-item .form-label {
		vertical-align: top;
	}
  .long-label {
    .form-item .form-label {
      width: 137px;
    }
  }
}
