@colorWhite: #fff;
@colorGray: #dfe1ee;
@widthLeft: 230px;
@headerHeight: 104px;

.fuzhen {
  .bg-right {
    position: fixed;
    z-index: 0;
    left: 0;
    top: @headerHeight;
    width: @widthLeft;
    height: 100%;
    background-color: #fff;
  }
  .bg-left {
    position: fixed;
    z-index: 0;
    right: 0;
    top: 600px;
    width: calc(100% - @widthLeft - 16px);
    height: 100%;
    background-color: #fff;
  }
}

.fuzhen-left {
  width: @widthLeft;
  background-color: #fff;
  margin-top: 16px;
  .ant-collapse {
    background: transparent;
    border-color: transparent;
    .ant-collapse-item {
      border-top: none;
    }
    .ant-collapse-content {
      background: transparent;
      padding: 0 0.4rem;
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0;
    }
    .ant-collapse-header .arrow,
    .ant-collapse-content-box {
      font-size: 1rem;
    }
    .ant-collapse-header {
      display: flex;
      align-items: center;
      font-weight: bold;
      padding-left: 0;
      font-size: 1rem;
      background: #fff;
      color: #3b3671;
      border: 1px solid #edeef6;
      padding-left: 34px;
      .arrow {
        height: 100%;
        font-size: 1rem !important;
      }
      .add-btn {
        border: none;
        outline: none !important;
      }
      .header-btn {
        position: absolute;
        right: 4px;
        top: 6px;
      }
      .isUnusual {
        color: #fff;
        background-color: red !important;
      }
    }

    .ant-collapse-item {
      border-width: 2px;
    }
  }

  .fuzhen-left-title {
    text-align: center;
    padding: 0.8rem 0 0.5rem;
  }
  .fuzhen-left-zd .zd-btn {
    margin-bottom: 10px;
    color: #535881;
    border: 1px dashed #535881;
  }
  .fuzhen-left-zd .first-diag {
    margin-bottom: 3px;
    font-weight: 600;
    color: #3b3671;
    padding-left: 2px;
    border-radius: 5px;
    input {
      width: 24px;
      font-size: 14px;
      border: 0 none;
      outline: none;
      color: #3b3671;
      border-radius: 0;
      border-bottom: 1px #fca8b7 solid;
      background-color: transparent;
    }
    .tuserweek-ipt {
      width: 48px;
    }
  }
  .fuzhen-left-zd ol {
    li {
      position: relative;
      padding-right: 30px;
      margin-bottom: 3px;
      color: #3b3671;
      .diag-wrapper {
        display: flex;
        font-weight: 600;
        background-color: #fce6ea;
        border-radius: 6px;
        padding: 2px 0 2px 3px;
        .diag-words {
          max-width: 210px;
        }
        .remark-ipt {
          width: 0;
          color: #38354e;
          flex: 1;
          border: 0 none;
          outline: none;
          border-bottom: 1px #fca8b7 solid;
          background-color: transparent;
          &::-ms-input-placeholder {
            text-align: center;
          }
          &::-webkit-input-placeholder {
            text-align: center;
          }
        }
      }
      .highriskmark {
        background-color: #fcb9c5;
      }
      .delBTN {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2px;
        cursor: pointer;
      }
    }
  }
  .fuzhen-left-input {
    padding-top: 10px;
    > * {
      display: inline-block;
    }
    .ant-input-group-btn {
      height: 28px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
    }
    .ant-tabs {
      background: #fff;
    }
    .ant-tabs-tabpane {
      padding: 0 0 20px 10px;
    }
    .ant-tree {
      padding: 0;
      font-size: 1rem;
    }
    .ant-tabs-nav .ant-tabs-tab-inner {
      padding: 10px 41px;
      border-right: 1px solid #ccc;
    }

    .ant-tabs-nav .ant-tabs-tab {
      margin: 0px 0px;
    }

    .anticon.anticon-setting {
      cursor: pointer;
      padding: 13px 15px;
    }
    .fuzhen-left-item {
      cursor: pointer;
      width: 12rem;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis; /* for Opera */
      text-overflow: ellipsis; /* for IE */
      &:hover {
        background: #bae7ff;
      }
    }
    .ant-tabs-content {
      width: 208px;
      height: 200px;
      overflow-y: auto;
    }

    .ant-tabs-content::-webkit-scrollbar {
      width: 0;
    }
  }
  .ant-btn.ant-btn-ghost.ant-btn-sm {
    background-color: #ebf2fb;
    margin-left: 6px;
    margin-top: -3px;
  }
  .fuzhen-left-button {
    width: 100%;
    border-width: 2px;
  }
  .fuzhen-left-report,
  .fuzhen-left-plan {
    border-top: 2px solid #4090ff;
    min-height: 5rem;
  }
  .panel-jy {
    .ant-collapse-header {
      text-align: left;
      // padding-left: 28px;
    }
  }
  .panel-cq {
    .ant-collapse-content {
      margin-left: -13px;
    }
    .form-row {
      margin: 0;
    }
    .form-item .form-label {
      width: 49px;
      font-size: 14px;
      padding-right: 3px;
      text-align: right;
    }
    .form-item .form-content {
      vertical-align: middle;
      span {
        font-size: 14px;
      }
    }
  }
}

.fuzhen-right {
  position: relative;
  width: calc(100% - @widthLeft);
  padding: 16px 0 0 16px;
  .fuzhen-table {
    padding: 12px;
    background-color: #fff;
    margin-bottom: 16px;
    position: relative;
    .examination,
    .treatment {
      width: 24%;
    }
    .nextRvisitText {
      width: 8%;
    }
    .table-btns {
      position: absolute;
      bottom: -90px;
      right: 18px;
      z-index: 2;
    }
  }
  .form-item .label {
    min-width: 60px;
    text-align: right;
    margin-bottom: 6px;
  }

  .is-not-empty {
    select,
    input,
    .ant-select-selection {
      font-size: 1rem;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #cccccc;
      background: none;
      padding-bottom: 2px;
    }
  }

  .valid-error {
    input {
      color: red;
      border: 1px solid orange;
    }
    .message {
      color: red;
      font-size: 0.5em;
    }
  }
}
.table-content {
  .ant-select {
    width: 100%;
  }
  .btns-wrapper {
    text-align: right;
    margin-top: 10px;
  }

  // 表头 checkbox 隐藏
  .ant-table-tbody tr:nth-of-type(-n + 2) .ant-table-selection-column span {
    visibility: hidden;
  }
}
.fuzhenTable {
  .examination,
  .treatment {
    width: 24%;
  }
  .nextRvisitText {
    width: 8%;
  }
  .ant-table-body {
    overflow-y: auto !important;
  }
  // 设置表头加粗
  .ant-table-tbody > tr:nth-child(-n + 2) > td {
    font-weight: 600;
    text-align: center !important;
  }
  .ant-table-tbody > tr > td {
    padding: 0 1px;
    word-break: keep-all;
    text-align: left;
    .table-item {
      min-height: 21px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box !important;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
    }
  }
}
.fz-print {
  display: none;
}

.delBModal {
  .ant-btn {
    font-size: 1rem;
  }
}

.yuModal {
  top: 280px;
  .ant-modal-header,
  .ant-modal-body,
  .ant-modal-footer {
    background: #fff;
  }
  .ant-select.ant-select-enabled {
    margin: 0 10px 0 5px;
  }
  .ant-calendar-picker {
    vertical-align: middle;
  }
  .ant-modal-title {
    font-size: 18px;
  }
  .yu-ges {
    .form-label {
      width: 120px;
    }
  }
}

.jy-modal {
  .form-item {
    .form-label {
      font-size: 1rem;
      height: 32px;
      line-height: 30px;
      vertical-align: middle;
    }
    .form-content {
      & > div {
        height: 100%;
        vertical-align: middle;
      }
      .checkinput > div > div {
        vertical-align: top;
      }
    }
    & > div {
      vertical-align: top;
    }
  }
}

.isHide {
  display: none;
}

.hisn-modal {
  .add-class {
    color: #02a7f0;
    margin-right: 9px;
  }
  .del-class {
    color: #ccc;
    text-decoration: line-through;
    margin-right: 9px;
  }
  .normal-class {
    margin-right: 9px;
  }
  .print-diagnosis {
    display: none;
  }
}

.pressure-modal {
  .form-item .form-label {
    width: 58px;
    font-size: 14px;
    padding-right: 12px;
    text-align: right;
  }
}
