@colorWhite: #fff;
@colorGray : #dfe1ee;
@widthLeft : 220px;

.bgDOM {
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: @widthLeft;
  height: 2200px;
  background-color: #e8f4ff;
}

.fuzhen-left {
  width: @widthLeft;
  padding: 0 0 1rem;
  .ant-collapse {
    background: transparent;
    border-color: transparent;
    .ant-collapse-content {
      background: transparent;
      padding: 0 0.4rem;
    }
    .ant-collapse-header .arrow ,
    .ant-collapse-content-box {
      font-size: 1rem;
    }
    .ant-collapse-header {
      font-weight: bold;
      text-align: center;
      padding-left: 0;
      font-size: 1.1rem;
      background: #99ccff;
      color: @colorWhite;
      .arrow {
        display: none !important;
      }
    }
    
    .ant-collapse-item {
      border-width: 2px;
    }
  }
  
  .fuzhen-left-title {
    text-align: center;
    padding: 0.8rem 0 0.5rem;
  }
  .fuzhen-left-zd ol {
    margin-bottom: 5px;
    li {
      position: relative;
      padding-top: 2px;
      padding-right: 30px;
      padding-bottom: 2px;
      line-height: 1.4em;
      margin-bottom: 5px;
      &>div > span {
        vertical-align: top;
      }
      .delBTN{
        position: absolute;
        top: 0;
        right: 0;
        font-weight: bold;
        border-color: #eeccff;
        background-color: #F1F9FE;
      }
      .character7 {
        display: inline-block;
        width: 8em;
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis; /* for Opera */
        text-overflow: ellipsis; /* for IE */
      }
    }
  }
  .fuzhen-left-input {
    padding-top: 10px;
    > * {
      display: inline-block;
    }
    .ant-input-wrapper {
      width: 100%;
    }
    
    .ant-tabs {
      background: #fff;
    }
    .ant-tabs-tabpane {
      padding: 0 0 20px 10px;
    }
    .ant-tree {
      padding: 0;
    }
    .ant-tabs-nav .ant-tabs-tab-inner {
      padding: 10px 12px;
      border-right: 1px solid #ccc;
    }
    
    .ant-tabs-nav .ant-tabs-tab {
      margin: 0px 0px;
    }
    
    .anticon.anticon-setting {
      cursor: pointer;
      padding: 13px 15px;
    }
    .fuzhen-left-item {
      cursor: pointer;
      width: 12rem;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis; /* for Opera */
      text-overflow: ellipsis; /* for IE */
      &:hover {
        background: #bae7ff;
      }
    }
    .ant-tabs-content {
      width: 208px;
      height: 200px;
      overflow-y: scroll;
    }
    
    .ant-tabs-content::-webkit-scrollbar {
      width: 0;
    }
  }
  .ant-btn.ant-btn-ghost.ant-btn-sm {
    background-color: #ebf2fb;
    margin-left: 6px;
    margin-top: -3px;
  }
  .fuzhen-left-button{
    width: 100%;
    border-width: 2px;
  }
  .fuzhen-left-report, .fuzhen-left-plan {
    border-top: 2px solid #4090ff;
    min-height: 5rem;
  }
}


.fuzhen-right {
  position: relative;
  width:calc(100% - @widthLeft);
  
  .form-item .label{
    min-width: 60px;
    text-align: right;
    margin-bottom: 6px;
  }

  .is-not-empty{
    select, input, .ant-select-selection{
      font-size: 16px;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #cccccc;
      background: none;
      padding-bottom: 2px;
    }
  }

  .valid-error{
    input {
      color: red;
      border: 1px solid orange;
    }
    .message {
      color:red;
      font-size: 0.5em;
    }
  }
  .fuzhen-form {
    position: relative;
    background: @colorWhite;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    padding: 0.8em 0.5em 0.5em;
    .fuzhen-form-TIT {
      position: absolute;
      color: #5c7aad;
      top: -0.8rem;
      text-shadow: 3px 3px 3px #ddd;
    }
  }
}
.table-content {
  text-align: right;
  .ant-select {
    width: 100%;
  }
}
.fuzhenTable {
  table {
    padding: 0 !important;
  }
  // .ant-table-tbody tr:first-child, .ant-table-tbody tr:first-child +tr {
  //   background: #F1F9FE !important;
  // }
  // .ant-table-tbody tr:first-child td, .ant-table-tbody tr:first-child +tr td {   
  //   border-color: #c9d1d7;
  //   padding: 2px 0;
  // }
}

.delBModal {
  .ant-btn {
    font-size: 1rem;
  }
}



