.tree-content {
    .tree-title {
        font-size: 21px;
        margin-left: 15px;
    }
    .blue-btn {
        margin-left: 15px;
    }
}

.ant-table-row.table-content.row-selected {
    background-color: #ebf2fb;
}