.jianyan {
  margin-left: 24px;
  padding-top: 16px;
}
.jianyan-left {
  margin-top: 16px;
  max-height: 750px;
  overflow-y: auto;
  .ant-collapse {
    border-top: 1px solid #c9cfda;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding-left: 8px;
    background-color: #f5f6fa;
    font-weight: 500;
    .arrow {
      display: none !important;
    }
    .anticon-calendar {
      margin-right: 6px;
    }
  }
  .ant-collapse-content {
    padding: 0;
  }
  .ant-collapse-content-box {
    padding: 0;
  }

  .left-item {
    color: #25265e;
    border-top: 1px solid #c9cfda;
    padding: 10px 0;
    position: relative;
  }
  .left-title {
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 15px;
    cursor: pointer;
  }
  .left-btn {
    font-weight: 400;
    background-color: #fffb8f;
    &.normal {
      background-color: #b7eb8f;
    }
  }
  .left-state {
    position: absolute;
    left: 0px;
    top: 3px;
    font-size: 12px;
    color: #7569ff;
  }
  .left-lable {
    position: absolute;
    right: 5px;
    top: 11px;
    font-size: 14px;
    color: #68cda0;
  }
}

.jianyan-right {
  margin-left: 37px;
  .redClass {
    td {
      color: #ff0000;
    }
  }
}
.right-wrapper {
  .right-top {
    text-align: center;
    position: relative;
    .right-title {
      position: relative;
      bottom: -20px;
    }
    .right-words {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #150f55;
      padding: 0 12px;
      font-weight: 600;
      background-color: #d7dce7;
    }
    .right-btn {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .right-doctor {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      height: 44px;
      color: #383f4a;
      border: 1px solid #d7dce7;
      padding-right: 16px;
      border-bottom: none;
    }
  }
  .right-msg {
    width: 100%;
    padding: 16px;
    border: 1px solid #d7dce7;
    border-bottom: none;
    .msg-item {
      color: #383f4a;
      font-weight: 500;
      display: inline-block;
      width: 25%;
    }
  }
  .right-table {
    max-height: 600px;
    overflow-y: auto;
  }
}
.right-modal {
  text-align: left;
  margin-bottom: 10px;
  .modal-item {
    margin-right: 30px;
  }
}
