.yunqi {
  padding-top: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  .fetus-wrapper {
    position: relative;
    width: 800px;
  }
  .bmi-wrapper {
    position: relative;
    width: 800px;
  }
  .print-btn {
    position: absolute;
    width: 180px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    padding: 4px 28px;
  }
  .btn-tz {
    top: 38px;
    left: 310px;
    background-color: #6F6FE9;
  }
  .btn-sz {
    top: 38px;
    right: 310px;
    background-color: #7DB440;
  }
}