.shouzhen {
  .ant-tabs-bar {
    margin-bottom: 0;
  }
  /* 顶部对齐 */
  .form-item {
    & > div {
      vertical-align:top;
    }
  }
  .bingyunqingkuang{
    .form-item .form-label{
      width: 110px;
    }
  }

  .guoqishi{
    .form-item .form-label{
      width: 160px;
    }
  }

}
