.shouzhen {
  .ant-tabs-bar {
    margin-bottom: 0;
  }
  /* 顶部对齐 */
  .form-item {
    & > div {
      vertical-align:top;
    }
  }
  .benyunqingkuang{
    .form-item .form-label{
      width: 110px;
    }
  }

}

.zhuanke-group{
  border-bottom: 1px solid #f3f3f3;
  margin-top: 16px;
}
